.git
.gitignore
.gitattributes

.idea
.vscode
.cursor

.docker_data/

tests/

var/
vendor/
node_modules/
public/assets/
public/bundles/
assets/vendor/

.phpunit.cache
.phpunit.result.cache
phpunit.xml

.env.local
.env.local.php
.env.*.local

config/jwt/*.pem

*.log

docker/mysql/init
